nav{
    display: flex;
    justify-content: space-between;
    
    
}
b{
    padding-right: 30px;
    font-family:sans-serif;
    font-weight: 200;
}
nav{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    z-index: 1;
    top: 0%;
    font-size: xx-large;   
}
.container{
    display: flex;
    gap: 10px;
    
    margin: 3px;
}
h3{
    text-align: center;
    font-weight: 300;
}
.container p{
    text-align: center;
    font-weight: 0%;
}
.num{
    
    text-align: center;
}
#man{
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
    width: 200px;
    gap:50px;
    color: black;
    padding:10px;
}
a:hover{
    background-color: black;
    color: white;
}
h4{
    text-align: center;
    font-weight: 300;
    font-size: larger;
}
.last{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-size: larger;
}
h5{
    font-weight: 100;
    margin: 10px 0; 
    font-size: larger;
}
h6{
    font-size: x-large;
    font-weight: 100;
}
li{
    list-style-type: none;
}
.last1{
    display: flex;
    gap: 10px;
}
li:hover{
    background-color:rgb(200, 193, 193);
    width: 200px;
}
.para2{
    line-height: 1.5;
}
.para2 span{
    background-color: #616161;
    color: white;
    text-align: center;
    box-sizing: inherit;
}
#travel{
    background-color: black;
}
#para1{
    font-size: medium;
}
.margin{
    margin: 50px;
}
nav img{
    cursor: pointer;
}
hr{
    border: 0;
    border-top: 1px solid #eeee;
}
.light{
    font-size: medium;
}